<%= turbo_frame_tag search_path do %>
  <%= form_with url: search_path, method: :post, id: :search_form do |f| %>
    <div class="flex items-center border-2 rounded-full h-12 my-auto justify-between px-6">
      <%= f.text_field :term, placeholder: "Termo, ex.: camisa, calça, sapato", class: "bg-transparent outline-none w-[92%]", data: { controller: 'search', action: "click->search#showSearchBoxFilter keyup->search#showSearchBoxFilter" } %>
      <%= button_tag heroicon("magnifying-glass", variant: "solid", class: "h-8 w-8 text-white bg-blue-400 rounded-full p-2 cursor-pointer hover:scale-110 transition-all duration-150 ease-out") %>
    </div>

    <div class="hidden absolute" id="search_box">
      <div class="border-gray-200 bg-white border-2 w-full rounded-md mt-[2px] mb-4 p-4">
          <div class="flex flow mb-4">
            <%= f.label :color, "Cor" %><%= f.text_field :color, class: "h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full", placeholder: "Ex.: azul, verde" %>
          </div>
          <div class="flex flow mb-4">
            <%= f.label :size, "Tamanho" %><%= f.text_field :size, class: "h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full", placeholder: "Ex.: P, M, Grande" %>
          </div>
          <div class="flex flow mb-4">
            <%= f.label :location, "Localização" %><%= f.text_field :location, class: "h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full", placeholder: "Ex.: Rua ABC, Avenida XYZ" %>
          </div>
          <%= f.submit "Buscar", class: "border-2 bg-gray-200 rounded-md p-2" %> <span class="text-gray-600 cursor-pointer" data-controller="search" data-action="click->search#hideSearchBoxFilter">Cancelar</span>
      </div>
    </div>
  <% end %>
<% end %>