<%= form_for :s, url: root_path, method: :get, class: 'sticky top-0 z-50' do |f| %>
  <header class="bg-white shadow-sm grid grid-cols-3 gap-3 px-10" data-controller="welcome">
    <!-- left content-->
    <div class="flex items-center my-auto">
      <%= link_to root_path, class: "h-20 text-gray-400 flex items-center" do %>
        <%= image_tag('2-2-clothes-png-clipart.png', class: 'h-4/6') %>
        <h1 class="ml-1">Serve pra você</h1>
      <% end %>
    </div>
    <!-- center content -->

    <div class="flex items-center border-2 rounded-full h-12 my-auto justify-between px-6">
      <%= f.text_field :term, placeholder: "Termo, ex.: camisa, calça, sapato", class: "bg-transparent outline-none w-[92%]", data: { action: "click->welcome#showSearchBoxFilter keyup->welcome#showSearchBoxFilter"} %>
      <%= heroicon("magnifying-glass", variant: "solid", class: "h-8 w-8 text-white bg-blue-400 rounded-full p-2 cursor-pointer hover:scale-110 transition-all duration-150 ease-out") %>
    </div>

    <!-- right content with icons -->
    <div class="flex items-center justify-end space-x-4">
      <p class="text-gray-400 hidden md:inline">Comece sua doacao</p>
      <%= link_to heroicon("arrow-path", variant: "solid", class: "hidden text-gray-400 h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out"), root_path %>

      <div class="flex items-center space-x-2 border-2 rounded-full px-2">
        <%= button_to heroicon("home", variant: "solid", class: "h-6 text-gray-400 cursor-pointer hover:scale-125 transition-all duration-150 ease-out"), root_path, method: :delete, alt: "profile picture", class: "h-10 rounded-full cursor-pointer" %>
        <% if current_user %>
          <%= button_to heroicon("arrow-right-on-rectangle", variant: "solid", class: "h-6 text-gray-400 cursor-pointer hover:scale-125 transition-all duration-150 ease-out"), destroy_user_session_path, method: :delete, alt: "profile picture", class: "h-10 rounded-full cursor-pointer" %>
        <% else %>
          <%= link_to heroicon("user-plus", variant: "solid", class: "h-6 text-gray-400 cursor-pointer hover:scale-125 transition-all duration-150 ease-out"), new_user_registration_path, class: "link" %>
          <%= link_to heroicon("user-circle", class: "h-6 text-gray-400 cursor-pointer hover:scale-125 transition-all duration-150 ease-out"), new_user_session_path, class: "link" %>
        <% end %>
      </div>
    </div>

    <div class="col-start-2 hidden" data-welcome-target="searchBox">
      <div class="border-gray-200 border-2 w-full rounded-md mb-4 -mt-4 p-4">
          <div class="flex flow mb-4">
            <%= f.label :color, 'Cor' %><%=f.text_field :color, class: 'h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full', placeholder: 'Ex.: azul, verde' %>
          </div>
          <div class="flex flow mb-4">
            <%= f.label :size, 'Tamanho' %><%=f.text_field :size, class: 'h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full', placeholder: 'Ex.: P, M, Grande' %>
          </div>
          <div class="flex flow mb-4">
            <%= f.label :location, 'Localização' %><%=f.text_field :location, class: 'h-6 border-b-2 text-gray-400 border-gray-200 bg-transparent outline-none ml-2 w-full', placeholder: 'Ex.: Rua ABC, Avenida XYZ' %>
          </div>
          <%= f.submit 'Buscar', class: 'border-2 bg-gray-200 rounded-md p-2'%> <span class="text-gray-600 cursor-pointer" data-action="click->welcome#hideSearchBoxFilter">Cancelar</span>
      </div>
    </div>
  </header>
<% end %>